<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

        .hero {
            width: 500px;
        }

        .sub-hero {
            font-size: 20px;
            color: rgb(66, 0, 164);
            font-family: 'Press Start 2P', cursive;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-1 text-center">
                <img class="hero" src="/img/404.png" alt="404">
                <h1 class="sub-hero">Maaf halaman yang anda cari<br>tidak ditemukan</h1>
            </div>
        </div>
    </div>
</body>
</html>