<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div class="container">
        <img src="/img/bg-login.png" alt="" class="bg-img">
        <div class="content">
            <div class="profile-card">
                <% user.forEach(i => { %>
                    <div class="user">
                        <div class="image"></div>
                        <div class="desc">
                            <h5>Username : <%= i.username %></h5>
                            <p>Token : <%= i.token %></p>
                        </div>
                    </div>
                <% }) %>
            </div>
            <div class="game">
                <% room.forEach(i => { %>
                    <div class="game-card">
                        <div class="image pp-game"></div>
                        <div class="desc-game">
                            <h3>Room Name: <%= i.room_name %></h3>
                            <p>Result: <%= i.result %></p>
                            <p>Name: <%= i.user.name %></p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>