<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>


<% room.forEach(i => { %>
    <h3><%= i.room_name %></h3>
    <p><%= i.result %></p>
    <p><%= i.user.name %></p>
<% }) %>
