<!DOCTYPE html>
    <html lang="en">
    <%- include('partials/head') %>
    <body>
        <div class="container">
            <div class="input-content">
                <img src="/img/bg-login.png" alt="" class="img-content">
                <form 
                    action="/auth/login" 
                    method="post" 
                    class="content-form login"
                >
                    <div>
                        <h1 class="title">
                            <span>Selamat</span> Datang
                        </h1>

                        <p class="desc">
                            Silakan Login untuk masuk..
                        </p>
                    </div>
                    <div>
                        <div class="form-inputs">
                            <div>
                                <label for="" class="labels">Username</label>
                                <input 
                                    type="text" 
                                    name="username" 
                                    placeholder="Masukan username mu..." 
                                    required 
                                    class="inputs"
                                />
                            </div>
                            <div>
                                <label for="" class="labels">Password</label>
                                <input 
                                    type="password" 
                                    name="password" 
                                    placeholder="Masukan password mu..." 
                                    required 
                                    class="inputs"
                                />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="btn-wrapper">
                            <button type="submit" class="button">Login</button>
                            <button onclick="display()" class="button transparant">Daftar</button>
                        </div>
                    </div>
                </form>
                <form 
                    action="/auth/register" 
                    method="post" 
                    class="content-form sign none"
                >
                    <div>
                        <h1 class="title">
                            <span>Selamat</span> Datang
                        </h1>
                        <p class="desc">
                            Silakan masukan data anda untuk daftar..
                        </p>
                    </div>
                    <div>
                        <div class="form-inputs">
                            <div>
                                <label for="" class="labels">Nama</label>
                                <input 
                                    type="text" 
                                    name="name" 
                                    placeholder="Masukan nama mu..." 
                                    required 
                                    class="inputs"
                                />
                            </div>
                            <div>
                                <label for="" class="labels">Username</label>
                                <input 
                                    type="text" 
                                    name="username" 
                                    placeholder="Masukan username mu..." 
                                    required 
                                    class="inputs"
                                />
                            </div>
                            <div>
                                <label for="" class="labels">Password</label>
                                <input 
                                    type="password" 
                                    name="password" 
                                    placeholder="Masukan password mu..." 
                                    required 
                                    class="inputs"
                                />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="btn-wrapper">
                            <button onclick="back()" class="button back">Kembali</button>
                            <button class="button">Daftar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="/js/login.js"></script>
    </body>
</html>