/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(244, 75%, 57%);
  --second-color: hsl(249, 64%, 47%);
  --title-color: hsl(244, 12%, 12%);
  --text-color: hsl(244, 4%, 36%);
  --body-color: hsl(208, 97%, 85%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --h2-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-color);
    font-family: var(--body-font);
    color: var(--text-color);
}

input,
button {
    font-family: var(--body-font);
    border: none;
    outline: none;
}

.container {
    display: grid;
    position: relative;
    align-items: center;
    height: 100vh;
}

.bg-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.content {
    position: relative;
    background-color: hsla(244, 16%, 92%, .6);
    margin-inline: 1.5rem;
    row-gap: 1.25rem;
    backdrop-filter: blur(20px);
    border-radius: 1rem;
    display: flex;
}

.user {
    margin-bottom: 2rem;
}

.profile-card {
    overflow-x: hidden;
    max-width: 350px;
    background-color: hsla(244, 16%, 92%, .15);
    padding: 2rem;
    border-radius: 1rem 0 0 1rem;
}

.image {
    content: '';
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #fff;
}

.desc {
    color: var(--title-color);
}

.desc h1 {
    color: var(--first-color);
}

.desc p {
    overflow-y: hidden;
    font-size: 11px;
}

.links {
    display: grid;
    row-gap: .5rem;
}

.link {
    width: 100%;
    border-radius: 6px;
    background: linear-gradient(180deg,
                var(--first-color),
                var(--second-color));
    color: #fff;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    box-shadow: 0 6px 24px hsla(244, 75%, 48% .5);
    margin-bottom: 1rem;
    cursor: pointer;
    padding: 14px 12px;
}

.logout {
    background: linear-gradient(180deg,
              rgb(224, 12, 12), 
              rgb(254, 4, 4));
    box-shadow: 0 6px 24px hsla(244, 75%, 48% .5);
}

.game {
    width: 100%;
    padding: 2rem;
    display: grid;
    row-gap: 2rem;
    overflow-x: hidden;
}

.game-card {
    width: 100%;
    background-color: hsla(244, 16%, 92%, .3);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 6px;
}

.pp-game {
    width: 4rem;
    height: 4rem;
    background-color: hsla(244, 16%, 92%, .9);
}

.desc-game {
    margin: 0 1rem;
    color: var(--title-color);
}

.desc-game p {
    font-size: var(--small-font-size);
    color: var(--text-color);
}

@media screen and (min-width: 1064px) {
    .container {
        height: 100vh;
        display: grid;
        place-items: center;
    }

    .content {
        width: 1024px;
        height: 600px;
    }
}