/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(244, 75%, 57%);
  --second-color: hsl(249, 64%, 47%);
  --title-color: hsl(244, 12%, 12%);
  --text-color: hsl(244, 4%, 36%);
  --body-color: hsl(208, 97%, 85%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --h2-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--body-color);
  font-family: var(--body-font);
  color: var(--text-color);
}

input,
button {
  font-family: var(--body-font);
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== LOGIN FORM ===============*/
.input-content,
.content-form,
.form-inputs {
  display: grid;
}

.none {
  display: none;
}

.input-content {
  position: relative;
  height: 100vh;
  align-items: center;
}

.img-content {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content-form {
  position: relative;
  background-color: hsla(244, 16%, 92%, .6);
  margin-inline: 1.5rem;
  row-gap: 1.25rem;
  backdrop-filter: blur(20px);
  padding: 2rem;
  border-radius: 1rem;
}

.title {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}

.title span {
  color: var(--first-color);
}

.desc {
  font-size: var(--small-font-size);
}

.form-inputs {
  row-gap: .75rem;
  margin-bottom: .5rem;
}

.labels {
  display: block;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: .25rem;
}

.inputs {
  width: 100%;
  padding: 8px 6px;
  border-radius: 6px;
  border: 2px solid var(--text-color);
  background-color: hsla(244, 16%, 92%, .6);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  transition: border 4px;
}

.inputs::placeholder {
  color: var(--text-color);
}

.inputs:focus,
.inputs:valid {
  border: 2px solid var(--first-color);
}

.message {
  color: red;
  margin: 0 auto;
}

.btn-wrapper {
  display: flex;
  column-gap: .75rem;
}

.button {
  width: 100%;
  padding: 8px 6px;
  border-radius: 6px;
  background: linear-gradient(180deg,
              var(--first-color),
              var(--second-color));
  color: #fff;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  box-shadow: 0 6px 24px hsla(244, 75%, 48% .5);
  margin-bottom: 1rem;
  cursor: pointer;
}

.btn-wrapper a {
  text-decoration: none;
  text-align: center;
}

.transparant {
  background:  hsla(244, 16%, 92%, .6);
  border: 2px solid var(--first-color);
  color: var(--first-color);
}

.back {
  background: linear-gradient(180deg,
              rgb(224, 12, 12), 
              rgb(254, 4, 4));
  box-shadow: 0 6px 24px hsla(244, 75%, 48% .5);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .content-form {
    width: 450px;
    justify-self: center;
  }
}

@media screen and (min-width: 1064px) {
  .container {
    height: 100vh;
    display: grid;
    place-items: center;
  }

  .input-content {
    width: 1024px;
    height: 600px;
  }

  .img-content {
    border-radius: 2rem;
    box-shadow:  0 24px 48px hsla(244, 75%, 36%, .45);
  }

  .content-form {
    justify-self: flex-end;
    margin-right: 4rem;
  }
}


